html {
    font-family: "Iosevka", monospace;
    cursor: default;
    line-height: 1.5;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    word-break: break-word;
    background-color: #282a36;
    color: #f8f8f2;
}

p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, span:hover, li:hover {
    text-shadow: 3px 0 3px #44475a,
    -3px 0 3px #44475a,
    6px 0 6px #44475a,
    -6px 0 6px #44475a;
}

p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, span::selection, li::selection {
    background-color: #44475a;
}

body {
    margin: 0 1rem;
}

header {
    color: #f8f8f2;
    background-color: #282a36;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1.45rem 1.0875rem;
}

.headline {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: lowercase;
    margin: 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.headline-postfix {
    color: #2196f3;
    filter: inherit;
    -webkit-filter: inherit;
}

.headline:hover {
    filter: none;
    -webkit-filter: none;
}

.title {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5ch;
    font-size: 1rem;
    font-weight: 700;
}

.title::before {
    position: absolute;
    left: -1.5ch;
    content: ">";
    color: #f8f8f2;
}

.subtitle {
    color: #f8f8f2;
    font-weight: 400;
}

.link {
    color: currentcolor;
    text-decoration: underline;
}

.list {
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5ch;
    padding: 0;
}

.list-item {
    position: relative;
}

.list-item::before {
    content: "*";
    position: absolute;
    left: -1.5ch;
    color: #f8f8f2;
}

.main-content {
    display: flex;
}

.profile {
    max-width: 30rem;
}

.profile-photo {
    /*margin-top: 2rem;*/
}

#name {
    /*text-align: center;*/
}

.content {
    width: 100%;
    margin-left: 2rem;
}

.content-header {
    margin-left: 1rem;
    margin-top: 0;
    line-height: 0.75;
}

.profile-photo {
    height: 100%;
    width: 100%;
    border-radius: 1rem 1rem;
}

.project-row {
    display: flex;
    flex-direction: row;
}

.project-column {
    width: 50%;
    margin: 0 1rem;
}

.project-image {
    height: auto;
    width: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 1rem 1rem;
}

.project-container {
    position: relative;
    height: fit-content;
    width: 100%;
    margin: 1rem 0;
}

.project-container:hover .project-image {
    opacity: 0.3;
}

.project-container:hover .project-title {
    opacity: 1;
}

.project-title {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .project-row {
        flex-direction: column;
    }

    .project-column {
        width: 100%;
        margin: 0;
    }

    .content-header {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {

    .profile-photo {
        height: 50%;
        width: 50%;
    }

    .main-content {
        display: block;
    }

    .content {
        margin-left: 0;
    }
}

@media screen and (max-width: 320px) {
    body {
        margin: 0 0.25rem;
    }
}