body {
    background-color: #f1f1f1;
}

.container {
}

.row-1 {
    margin-left: 20px;
    margin-right: 20px;
    overflow: auto;
}

.col-1 {
    float: left;
    width: 30%;
}

.col-2 {
    float: left;
    width: 70%;
}

.content {
    background-color: white;
    margin: 20px;
    padding: 20px;
    overflow: auto;
}

.row-2:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .col-1 {
        width: 100%;
    }

    .col-2 {
        width: 100%;
    }
}